_site
.jekyll-metadata
Gemfile.lock
*.DS_Store

_scripts/table.tex
_scripts/schedule.pdf
*.log
*.aux
*.bbl
*.synctex.gz
*.out
*.blg
*.bak
*.fls
*.fdb_latexmk
*.snm
*.nav
*.toc
*.lop
*.lof
*.lot
*.vrb
*.bcf
*.run.xml
