---
title: Program
layout: page
slide_id: 4
---


<div class="row mt-xs-0 mt-sm-0 my-2">
    <div class="col conference-text">
        {% if site.data.conference.proceedings_path and site.data.conference.proceedings_path != "" %}
        <h5 class="text-info">Proceedings</h5>
        <p>
            The proceedings of the {{site.data.conference.full_title}} are now available.
            <a href="{{site.data.conference.proceedings_path}}" target="_blank" rel="noopener noreferrer">
                <span class="badge badge-secondary mx-1">
                    <i class="fa fa-download mr-1"></i>
                    PDF
                </span>
            </a>
        </p>
        {% endif %}
        {% if site.data.program.online.live %}
        <h5 class="text-info">Online</h5>
        <p>
            The conference will be streamed live{% if site.data.program.online.record %} and recorded for each day{% endif %}.
            <br>
            The event can be accessed online at: <a href="{{site.data.program.online.url}}">{{site.data.program.online.url}}</a>
        </p>
        <p>
            {% if site.data.program.online.streams %}
            <table class="table">
                <tr>
                    <th>Stream</th>
                    <th>Link</th>
                </tr>
                {% for stream in site.data.program.online.streams %}
                <tr>
                    <td>{{stream.title}}</td>
                    <td><a href="{{stream.url}}">{{stream.url}}</a></td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </p>
        {% endif %}
        <h5 class="text-info">Schedule</h5>
        {% if site.data.program.tentative %}
        <p class="alert alert-info">
            Please note that the schedule is tentative and subject to change.
        </p>
        {% endif %}
        {% if site.data.program.schedule_pdf and site.data.program.schedule_pdf != "" %}
        <a href="{{site.data.program.schedule_pdf}}" target="_blank" rel="noopener noreferrer">
            <button class="btn btn-sm btn-outline-danger float-right" title="PDF">
                <i class="fa fa-download mr-1"></i>
                {{site.data.conference.short_title}} Schedule
            </button>
        </a>
        {% endif %}
        {% if site.data.program.schedule != nil %}
        <ul class="inner-nav nav nav-pills my-3" id="schedule-pills-tab" role="tablist">
        {% for day in site.data.program.schedule %}
            <li class="nav-item" role="presentation">
                <a
                    id="nav-day-{{forloop.index}}-tab"
                    type="button"
                    role="tab"
                    class="nav-link btn-dark {% if forloop.index == site.data.program.active_day_index %}active{% endif %}"
                    data-toggle="pill"
                    data-target="#nav-schedule-day-{{forloop.index}}"
                    aria-controls="nav-schedule-day-{{forloop.index}}"
                    aria-selected="{% if forloop.index == site.data.program.active_day_index %}true{% else %}false{% endif %}">
                    Day {{forloop.index}}
                </a>
            </li>
        {% endfor %}
        </ul>
        <div class="tab-content">
        {% for day in site.data.program.schedule %}
        <div id="nav-schedule-day-{{forloop.index}}" class="my-3 mx-1 tab-pane {% if forloop.index == site.data.program.active_day_index %}show active{% endif %}" role="tabpanel" aria-labelledby="nav-day-{{forloop.index}}-tab">
            <h5 style="font-size: 125%;" class="schedule-table-heading">{{ day.dateReadable }} - Day {{ forloop.index }}</h5>
            <table class="table table-bordered table-striped table-hover">
                {% for timeslot in day.timeslots %}
                <thead>
                    <tr>
                        <th {% if site.data.program.time_style.style %}style="{{site.data.program.time_style.style}}"{% endif %} class="{{site.data.program.time_style.classes}} align-middle text-center">
                            <div>{{timeslot.startTime}} - {{timeslot.endTime}}</div>
                        </th>
                        {% if site.data.program.timeslot_style contains timeslot.type %}
                        <th {% if site.data.program.timeslot_style[timeslot.type].style %}style="{{site.data.program.timeslot_style[timeslot.type].style}}"{% endif %} class="{{site.data.program.timeslot_style[timeslot.type].classes}} text-center">
                        {% else %}
                        <th class="bg-dark text-white text-center">
                        {% endif %}
                            <h6>{{timeslot.title}}</h6>
                            {% if timeslot.speaker %}
                            <span class="font-weight-normal my-0"><i>{{timeslot.speaker}}</i></span>
                            {% endif %}
                            {% if timeslot.chair %}
                            <span class="font-weight-normal my-0">
                                {% if timeslot.chair.description %}
                                <strong>{{timeslot.chair.description}}</strong>:
                                {% endif %}
                                {{timeslot.chair.name}}
                            </span>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                {% if timeslot.events %}
                <tbody>
                    {% for event in timeslot.events %}
                    <tr>
                        <td class="text-center align-middle" width="20%">
                            {% if event.startTime and event.endTime %}
                            {{event.startTime}} - {{event.endTime}}
                            {% endif %}
                        </td>
                        <td>
                            {% if event.virtual %}
                            <span class="badge badge-dark float-right">
                                virtual
                            </span>
                            {% endif %}
                            {% if event.type %}
                            {% if site.data.program.event_style contains event.type %}
                            <span {% if site.data.program.event_style[event.type].style %}style="{{site.data.program.event_style[event.type].style}}"{% endif %} class="badge {{site.data.program.event_style[event.type].classes}} float-right">
                            {% else %}
                            <span class="badge badge-dark float-right">
                            {% endif %}
                                {{event.type}}
                            </span>
                            {% endif %}
                            {% if event.link %}
                            <a href="{{event.link.url}}" target="_blank" rel="noopener noreferrer">
                            <span class="badge badge-danger float-right mx-1">
                                {% if event.link.type == "pdf" %}
                                <i class="fa fa-download mr-1"></i>
                                pdf
                                {% else %}
                                link
                                {% endif %}
                            </span>
                            </a>
                            {% endif %}
                            <p class="my-0"><b>{{event.title}}</b></p>
                            <p class="my-0"><i>{{event.speakers}}</i></p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-warning rounded text-center mx-3 my-5">
            TBA
        </div>
        {% endif %}

        <div class="conference-text">
            {% include contact-us.html %}
        </div>
    </div>
</div>